/*
Developer - Rahul Mody
Class - IS 117 006, SPring 2018
ID - 31271851
*/
#main{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
            
#twibg{
	background-color: #c0deed;
}

.jumbotron {
	text-align: center;
	max-height: 200px;
	font-family: sans-serif;
	color: black;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    border-radius: 0 !important;                                            /* Clear any edge radius on corner */
    margin-bottom: 0px;                                                     /* Remove space between jumbotron and navbar*/
}

/********************************************** Navbar style starts here *******************************************************************/
            
.navbar{
    border-radius: 0 !important;                                            /* Clear any edge radius on corner */
    padding: 10px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);

}

.nav-item{
    margin-left: 15px;
    font-size: 20px;
}

.navbar-toggler{
	background-color: white;
}
/*****************************************************************************************************************/
.card-title{

  text-align: center;
}

.btn{
    float: right;
}

.input-group{
	width: 100%;
}

.sizing-addon1{
	width: 100px;
}

#formbtn{
    width: 100%;
    margin-bottom: 20px;
}


#bCard h2 {
	
	text-align: left;
	margin-left: 10px;
	color: black;

}

.card #node, #block, #bezo{

	height: 40%;
	width: 50%;
	margin-left: 20px;
	margin-right: 40px;
	
	
}

.footer{

	margin-top: 100px;
	float: middle;
	text-align: center;
}

/*****************************************************************************************************************/



#status{
background-color: #A7D6ED; 
}

#inStat{
width: 100%;

}

::placeholder{
color: #00aced;

}



