body{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}



.navbar{
	min-height: 50px;
	font-size: 25px;
	font-family: sans-serif;
}

.navbar-custom{
 	background-image: linear-gradient(to right, #434343 0%, black 100%);
}


.card-title{

  text-align: center;
}

.container .card {
  height: 100%;
  
}

.input-group{
	width: 100%;
}

.sizing-addon1{
	width: 100px;
}

.btn-primary {
	width: 100%;
	margin-bottom: 100px;
}


.jumbotron {
	text-align: center;
	max-height: 200px;
	font-family: sans-serif;
	color: black;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

}

#bCard h2 {
	
	text-align: left;
	margin-left: 10px;
	color: black;

}



.card #node, #block , #bezo{

	height: 100px;
	width: 150px;
	margin-left: 20px;
	margin-right: 40px;
	
	
}

/*

Following are the customer bg color for the element that the page is cuurently loaded corrsponding to the link in the navbar


*/

.navbar #nHome {
	background-color: red;
}

.navbar #nBlog {
	background-color: blue;
}

 .navbar #nProfile {
 	background-color: yellow;
 }


